/*
* demo.css
* File include item demo only specific css only
******************************************************************************/

.menu .app-brand.demo {
  height: 64px;
  margin-top: 12px;
}

.app-brand-logo.demo svg {
  width: 22px;
  height: 38px;
}

.app-brand-text.demo {
  font-size: 1.75rem;
  letter-spacing: -0.5px;
  text-transform: lowercase;
}

/* ! For .layout-navbar-fixed added fix padding top tpo .layout-page */
/* Detached navbar */
.layout-navbar-fixed .layout-wrapper:not(.layout-horizontal):not(.layout-without-menu) .layout-page {
  padding-top: 76px !important;
}
/* Default navbar */
.layout-navbar-fixed .layout-wrapper:not(.layout-without-menu) .layout-page {
  padding-top: 64px !important;
}

/* Navbar page z-index issue solution */
.content-wrapper .navbar {
  z-index: auto;
}

/*
* Content
******************************************************************************/

.demo-blocks > * {
  display: block !important;
}

.demo-inline-spacing > * {
  margin: 1rem 0.375rem 0 0 !important;
}

/* ? .demo-vertical-spacing class is used to have vertical margins between elements. To remove margin-top from the first-child, use .demo-only-element class with .demo-vertical-spacing class. For example, we have used this class in forms-input-groups.html file. */
.demo-vertical-spacing > * {
  margin-top: 1rem !important;
  margin-bottom: 0 !important;
}
.demo-vertical-spacing.demo-only-element > :first-child {
  margin-top: 0 !important;
}

.demo-vertical-spacing-lg > * {
  margin-top: 1.875rem !important;
  margin-bottom: 0 !important;
}
.demo-vertical-spacing-lg.demo-only-element > :first-child {
  margin-top: 0 !important;
}

.demo-vertical-spacing-xl > * {
  margin-top: 5rem !important;
  margin-bottom: 0 !important;
}
.demo-vertical-spacing-xl.demo-only-element > :first-child {
  margin-top: 0 !important;
}

.rtl-only {
  display: none !important;
  text-align: left !important;
  direction: ltr !important;
}

[dir='rtl'] .rtl-only {
  display: block !important;
}

/*
* Layout demo
******************************************************************************/

.layout-demo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 1rem;
}
.layout-demo-placeholder img {
  width: 900px;
}
.layout-demo-info {
  text-align: center;
  margin-top: 1rem;
}

/* custom styling */

body.body-wrapper {
  background: #fff;
}
  
body.body-wrapper:not(.login) #layout-menu {
  background: rgb(123,204,47);
  background: linear-gradient(180deg, rgba(123,204,47,1) 0%, rgba(21,160,139,1) 90%);
  max-height: 800px;
  
}
body.body-wrapper.login #layout-menu {
  background: rgb(123,204,47);
  background: linear-gradient(180deg, rgba(123,204,47,1) 0%, rgba(21,160,139,1) 90%);
  
}
body.body-wrapper.login #layout-menu .app-brand-link {
  margin: 0 auto;
}
body.body-wrapper .bg-footer-theme {
  background: none !important;
}
body.body-wrapper .bg-menu-theme .menu-link, 
body.body-wrapper  .bg-menu-theme .menu-horizontal-prev, 
body.body-wrapper .bg-menu-theme .menu-horizontal-next {
  color: #fff;
}
body.body-wrapper #layout-navbar {
  background: none !important;
  box-shadow: none;;
}
body.body-wrapper .donation-link div {
  background: url("../img/donation.png") no-repeat 0/24px transparent;
  padding-left: 30px;
}
body.body-wrapper .resources-link div {
  background: url("../img/resources.png") no-repeat 0/24px transparent;
  padding-left: 30px;
}
body.body-wrapper .staff-link i,
body.body-wrapper .donor-link i {
  color: #f2f317;
  font-size: 24px;;
}
body.body-wrapper .sidebar-navigation {
  flex-grow: 1; 
  display: flex;
  justify-content: center; 
  align-items: center;
}

body.body-wrapper #donation-list .accordion-item {
  box-shadow: none;
  border: 1px solid #ddd;
  border-radius: 0 !important;
}
body.body-wrapper #donation-list .accordion-item .accordion-button {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

body.body-wrapper #donation-list .donation-item .started-date {
  font-size: 14px;
  color: #000;
}
body.body-wrapper #donation-list .donation-item .completed-on,
body.body-wrapper #donation-list .donation-item .donor-address {
  font-size: 17px;
  color: #000;
}
body.body-wrapper #donation-list .donation-item .job-id {
  font-size: 17px;
  color: #333;
}
.text-secondary {
  color: #10ae4b !important;
}
body.body-wrapper #donation-list .donation-item .accordion-button:after {
  position: absolute;
  top: 20px;
  right: 20px;
}
body.body-wrapper .past_donation p {
  color: #000;
  font-size: 17px;
}
body.body-wrapper .ewaste_poundage p {
  font-size: 18px;
}
h3 {
  color: #000;
}

.img-thumbnail {
  border-radius: 5px;
  height: 120px;
  width: auto;
  border: 1px solid #ddd;
  margin-right: 20px;
  margin-bottom: 20px;
}
.login_bg {
  background: url(../img/login-bg.png) no-repeat center/cover transparent;
  height: 45vh;
  min-height: 500px;
  width: 100%;
}
/* two factor  */
body.login .tf_login_form_wrapper .form_body  {
  max-width: 500px;
  margin: 0 auto;

}

body.login .tf_login_form_wrapper .form_body .back_btn {
  display: inline-block;
  margin-right: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #7bcc2f;
}
body.login .tf_login_form_wrapper .form_body .verify_button {
  width: 220px;
  
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  padding-top: 90px;
  padding-bottom: 30px;
  cursor: pointer;

}
body.login .tf_login_form_wrapper .form_body .verify_button.text_me {
  background: url(../img/text_me.png) no-repeat center 40px/40px transparent;
}
body.login .tf_login_form_wrapper .form_body .verify_button.email_me {
  background: url(../img/email_me.png) no-repeat center 40px/40px transparent;
} 
body.login .tf_login_form_wrapper .form_body .verify_button.active {
  border: #10909b 1px solid;
}
/* login */
body.login  .form_header img:not(.header_logo)  {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: contain;
}
body.login .login_form_wrapper .header_logo  {
  width: 208px;
  height: auto;
}
body.login .login_form_wrapper .login_form {
  max-width: 600px;
  margin: -60px auto 0;
  background: #fff;
  border: 1px solid #ddd;
  padding: 30px;
  border-radius: 10px;
}
.alert ul {
  margin-bottom: 0;
}
#ajax-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: 10000;
}
#ajax-loader .spinner-border {
  color: white;
  font-size: 20px;
  width: 50px;
  height: 50px;
}
#footer_section {
  padding: 10px 0;
}
.auth-pages #footer_section {
  text-align: center;
}
@media screen and (max-width: 1199px) {
  #footer_section {
    padding-top: 20px;
    text-align: center;
  }
}
@media screen and (max-width: 992px) {
  .login_bg {
    height: 40vh;
    min-height: 300px;
  }
  body.login .tf_login_form_wrapper .form_body .verify_button {
    width: 170px;
  }
  body.login .tf_login_form_wrapper .form_body {
    padding: 0 20px;
  }
  
}
@media screen and (max-width: 700px) {
  .login_bg {
    height: 30vh;
    min-height: 240px;
  }
}